Flask

# Flask Extensions
Flask-Assets
Flask-Cache
Flask-DebugToolbar
Flask-Login
Flask-SQLAlchemy
Flask-Script
Flask-WTF
Flask-Mail
Flask-Migrate
Flask-Celery-Helper
Flask-Babel
Flask-Social
Flask-Security

# Other
itsdangerous==0.24
cssmin==0.2.0
jsmin==2.1.1

# Testing
pytest==2.7.0
pytest-cov==1.8.1
mccabe==0.3
flake8==2.4.0
